nav li a{
   text-decoration: none;
  
}
nav li{
  list-style: none;
  display: inline;
 margin-right: 20px;
}
nav li:hover{
     background-color: aqua;
}
footer{
  text-align: center;
}
h5{
  font-size: 20px;
  color: green;
}
p{
  background-color: aquamarine;
  border: 10px solid gold;
}
